<h1>Schedule a service request!</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. </p>
<br></br>

<%= image_tag "happy-people.jpg" %>

<h2>Click Here!</h2>

<p>Find me in app/views/pages/contact.html.erb</p>
