<h1>We Charge A Lot!</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam</p>
<br></br>

<%= image_tag "money_tree.jpg" %>
<p>Find me in app/views/pages/fees.html.erb</p>
