<h1>Wellspring Lawn and Landscaping</h1>
<p>Hello, we are a local Lawn and Landscaping company that is young and growing! We service Frederircksburg, Spotsylvania, Stafford, and King George counties, Specializing in Weekly Lawn maintenance, Yard Renovations, Mulching, Pruning and Trimming, Retaining and Landscaping walls, Aerating and Overseeding, Fertilizer and weed killer applications for your yard, and Leaf Removal..</p>
<br></br>
<%= image_tag "lawn.jpg" %>
<p>Find me in app/views/pages/home.html.erb</p>
